@import "../../utils/cssConfig";

.modal-upload {
  position: fixed;
  width: 80%;
  height: 622px;
  background-color: $base-yellow;
  left: 10%;
  top: calc((100% - 622px)/2);
  border: solid 2px $basic-grey;

  .panel-options {
    width: calc(100% - 60px);
    height: 180px;
    margin: 30px 30px 15px 30px;
    display: flex;
    flex-direction: row;

    .btn-upload {
      width: 60px;

      .upload {
        display: inline-block;
        height: 60px;
        width: 60px;
        background: url("../../sourceData/btnPlus-normal.svg") no-repeat;
        cursor: pointer;

        &:hover {
          background: url("../../sourceData/btnPlus-hover.svg") no-repeat;
        }
      }
    }
  }
}
