@import "../../utils/cssConfig";

.modal-upload {
  position: fixed;
  width: 80%;
  height: 622px;
  background-color: $base-yellow;
  left: 10%;
  top: calc((100% - 622px)/2);
  border: solid 2px $basic-grey;

  .file-view {
    background-color: $basic-grey;
    width: calc(100% - 60px);
    height: 360px;
    margin: 30px 30px 0 30px;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;

    .after,
    .before {
      width: 100%;
    }

    .row {
      width: 100%;
      height: 20px;
      display: flex;
      white-space: pre;

      button {
        width: 15px;
        height: 20px;
        border: none;
        cursor: pointer;
        background: url("../../sourceData/btnUploadCut.svg");

        &:active,
        &:focus,
        &.active,
        &:active:focus {
          outline: 0;
          border: none !important;
          -webkit-box-shadow: none !important;
          box-shadow: none !important;
        }

        &.start,
        &.start:hover {
          background: url("../../sourceData/btnUploadCut-start.svg");
        }
        &.end {
          background: url("../../sourceData/btnUploadCut-end.svg");
        }
        &:hover {
          background: url("../../sourceData/btnUploadCut-hover.svg");
        }
      }
      span {
        width: 100%;
        height: 20px;
        font-size: 14px;
        color: $white;
        padding-left: 15px;
      }
    }
  }

  .panel-options {
    width: calc(100% - 60px);
    height: 180px;
    margin: 30px 30px 15px 30px;
    display: flex;
    flex-direction: row;

    .btn-upload {
      width: 60px;

      .upload {
        display: inline-block;
        height: 60px;
        width: 60px;
        background: url("../../sourceData/btnPlus-normal.svg") no-repeat;
        cursor: pointer;

        &:hover {
          background: url("../../sourceData/btnPlus-hover.svg") no-repeat;
        }
      }
    }

    .pnl-right {
      width: calc(100% - 714px);
      margin-left: 30px;
      display: flex;
      flex-direction: column;

      .var-key-loader,
      .content-search {
        height: 100px;

        .title {
          color: $basic-grey;
          font-size: 16px;
        }
        .content {
          height: 32px;
          display: flex;
          flex-direction: row;

          .input {
            height: 30px;
            border-bottom: solid 2px $basic-grey;
            border-top: none;
            border-left: none;
            border-right: none;
            background-color: transparent;
            color: $basic-grey;
            font-family: calibri, serif;
            font-weight: bold;
            font-size: 18px;
            margin-right: 16px;

            &:hover {
              border-bottom-color: $second-yellow;
            }
          }
          .btn-add,
          .btn-search {
            cursor: pointer;
            height: 24px;
            min-height: 24px;
            padding-top: 4px;
            position: relative;
            top: 3px;
            font-size: 14px;
            font-weight: normal;
            font-family: calibri, serif;
            background-color: $basic-grey;
            color: $second-yellow;
            border-radius: 2em;

            &:hover {
              background-color: $second-grey;
            }
          }
        }
      }

      .content-search {
        .pnl-find {
          height: 32px;
          width: 14px;
          display: flex;
          flex-direction: column;
          margin-left: 12px;
          .btn-up,
          .btn-down {
            cursor: pointer;
            width: 16px;
            height: 16px;
          }

          .btn-up {
            background: url("../../sourceData/btnArrowUp-normal.svg")
            no-repeat;
            &:hover {
              background: url("../../sourceData/btnArrowUp-hover.svg")
              no-repeat;
            }
          }
          .btn-down {
            background: url("../../sourceData/btnArrowDown-normal.svg")
            no-repeat;
            &:hover {
              background: url("../../sourceData/btnArrowDown-hover.svg")
              no-repeat;
            }
          }
        }
        .btn-search {
          width: 53px;
          padding-left: 12px;
        }
        .input {
          width: calc(100% - 107px);
        }
      }


      .var-key-loader {
        margin-top: 16px;

        .input {
          width: calc(100% - 107px);
        }

        .btn-add {
          width: 44px;
          padding-left: 19px;
        }

        .info {
          position: relative;
          top: 7px;
          cursor: pointer;
          height: 18px;
          width: 18px;
          margin-left: 8px;
          background: url("../../sourceData/iconInfo.svg")
          no-repeat;
        }
      }

      .pnl-buttons {
        height: calc(100% - 44px);
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: end;

        .btn{
          width: auto;
          cursor: pointer;
          height: 30px;
          min-height: 30px;
          padding-top: 7px;
          padding-left: 16px;
          padding-right: 16px;
          margin-left: 20px;
          font-size: 18px;
          font-weight: bold;
          font-family: calibri, serif;
          border-radius: 2em;

          &.cancel {
            background-color: $negative-red;
            color: $basic-grey;
          }
          &.confirm {
            background-color: $basic-grey;
            color: $second-yellow;

            &:hover {
              background-color: $second-grey;
            }
          }
        }
      }
    }
  }
}
