@import "../../utils/cssConfig.scss";

.markUpList {
  display: flex;
  width: 15px;

  &.expanded {
    width: 75px;
    background-color: $base-yellow;

    .btnExpand {
      background: url(../../sourceData/markUpListExpandBtn.svg) no-repeat center $second-yellow;
      background-size: 15px 30px;
    }
  }

  .btnExpand {
    &:focus {
      outline: none;
    }
    display: inline-block;
    color: transparent;
    border: none;
    horiz-align: right;
    width: 15px;
    height: 100%;
    cursor: pointer;
    background: url(../../sourceData/markUpListUnExpandBtn.svg) no-repeat center $second-yellow;
    background-size: 15px 30px;
  }

  > .listContent::-webkit-scrollbar {
    display: none !important; /* Safari and Chrome */
  }

  > .listContent {
    width: 60px;
    height: 100%;
    padding: 0 0 0 14px;
    display: inline-block;
    overflow-y: scroll;
    overflow-style: marquee-line;
    flex-direction: column;
    align-items: center;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    .markUp {
      display: inline-block;
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px;
      margin: 10px 0 0 0;
      font-weight: normal;
      color: $black;
      cursor: pointer;
      border-radius: 100%;
      border: solid 1px $black;
    }
  }
}

.markUp{
  &.lightGreen {
    background-color: $light-green;
  }
  &.green {
    background-color: $medium-green;
  }
  &.darkGreen {
    background-color: $dark-green;
  }
  &.lightBlue {
    background-color: $light-blue;
  }
  &.blue {
    background-color: $medium-blue;
  }
  &.darkBlue {
    background-color: $dark-blue;
  }
  &.lightPink {
    background-color: $light-pink;
  }
  &.pink {
    background-color: $medium-pink;
  }
  &.darkPink {
    background-color: $dark-pink;
  }

  &.disabled {
    border: none !important;
    background-color: $basic-light-grey !important;
    color: $basic-grey !important;
    cursor: auto;
  }
}
