@import "../../utils/cssConfig.scss";

.lobby {

  .frame{
    padding: 16px 0 0 10px;

    .key {
      button {
        height: 21px;
        width: auto;
        border-radius: 1em;
        border: none;
        cursor: pointer;
        padding: 1px 18px;
        background-color: $base-yellow;
        font-weight: bold;
        font-family: calibri, serif;
        font-size: 16px;

        &:hover {
          background-color: $second-yellow;
        }
      }

      &.marked {
        & button {
          background-color: $positive-green;

          &:hover {
            background-color: $negative-red;
          }
        }
        .lightGreen {
          background-color: $light-green;
        }
        .green {
          background-color: $medium-green;
        }
        .darkGreen {
          background-color: $dark-green;
        }
        .lightBlue {
          background-color: $light-blue;
        }
        .blue {
          background-color: $medium-blue;
        }
        .darkBlue {
          background-color: $dark-blue;
        }
        .lightPink {
          background-color: $light-pink;
        }
        .pink {
          background-color: $medium-pink;
        }
        .darkPink {
          background-color: $dark-pink;
        }
      }
    }

    .data {
      padding: 4px 0 4px 15px;
      white-space: pre-wrap;
      color: $white;
      font-size: 16px;

      .filterItemSubstring {
        font-weight: bold;
        color: $base-yellow;
      }
    }

    .body {
      display: inline-block;
      max-height: 500px;
      overflow: auto;
      margin: 0;
      background: #f3f2f2;
      line-height: 2em;
      padding: 8px 14px 12px 15px;
    }
  }
}
