.header {
  display: flex;
  width: 100%;
  height: 100px;
  background-size: 100% auto !important;
  background: url(../../sourceData/header.svg) no-repeat;

  .btn-upload {
    margin: 18px 30px 0 15px;
    display: inline-block;
    height: 60px;
    width: 60px;
    background: url("../../sourceData/btnPlus-normal.svg") no-repeat;
    cursor: pointer;

    &:hover {
      background: url("../../sourceData/btnPlus-hover.svg") no-repeat;
    }
  }

  .info {
    display: flex;
    padding: 20px 10px 10px 0;
    font-family: calibri, serif;

    .infoItem {
      margin-right: 10px;
      max-width: 120px;
      width: 120px;

      .title {
        display: inline-block;
        width: 100%;
        font-size: 22px;
        font-weight: bold;
        color: #5b5b5b;
      }

      .value {
        display: inline-block;
        width: 100%;
      }
    }
  }

  > button{
    height: 20px;
    width: 80px;
    font-size: 10px;
    background-color: crimson;
    cursor: pointer;
    border: solid;
  }
}