$base-yellow: #ffd217;
$second-yellow: #dbb412;
$basic-grey: #5b5b5b;
$second-grey: #6D6D6D;
$basic-light-grey: #b3b3cc;
$second-light-grey: #bfbfbf;
$white: #fff;
$positive-green: #66cc00;
$negative-red: #ff0000;
$light-green: #66ff66;
$medium-green: #00cc00;
$dark-green: #006600;
$light-blue: #33ccff;
$medium-blue: #0000ff;
$dark-blue: #000080;
$light-pink: #ff99ff;
$medium-pink: #ff00ff;
$dark-pink: #cc00cc;
$black: #000000;