.content {
  .key {
    button {
      height: 21px;
      width: auto;
      border-radius: 1em;
      border: none;
      cursor: pointer;
      padding: 1px 18px;
      background-color: #ffd217;
      font-weight: bold;
      font-family: calibri, serif;
      font-size: 16px;

      &:hover {
        background-color: #66cc00;
      }
    }

    &.marked {
      & button {
        background-color: #66cc00;

        &:hover {
          background-color: red;
        }
      }
      .lightGreen {
        background-color: #66ff66;
      }
      .green {
        background-color: #00cc00;
      }
      .darkGreen {
        background-color: #006600;
      }
      .lightBlue {
        background-color: #33ccff;
      }
      .blue {
        background-color: #0000ff;
      }
      .darkBlue {
        background-color: #000080;
      }
      .lightPnk {
        background-color: #ff99ff;
      }
      .pink {
        background-color: #ff00ff;
      }
      .darkPink {
        background-color: red;
      }
    }
  }

  .data {
    display: inline-block;
    height: auto;
    width: calc(100% - 40px);
    padding: 4px 14px 4px 15px;
    white-space: pre-wrap;
    color: #fff;

    .filterItemSubstring {
      font-weight: bold;
      color: #ffd217;
    }
  }

  .body {
    display: inline-block;
    max-height: 500px;
    overflow: auto;
    margin: 0;
    background: #f3f2f2;
    line-height: 2em;
    padding: 8px 14px 12px 15px;
  }
}
